<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>✨TKB-HỌC-PHẦN-UIT</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  <script>
    var codeclass_string = null;       
  </script>
  <script type="json/javascript" src="./tkbhp.json"></script>
</head>
<body>
  <%- include('../template/nav')-%>
  <%- include('../template/get-username')-%>
  <% if (username) { %>
    <h2>username: <%= username %></h2>
  <% } %>

  <% if (codeclass_string) { %>
    <script>
      var codeclass_string = '<%= codeclass_string %>';       
   </script>
  <% } %>

  <%- include('../template/table-tkbhp')-%>

  <script type="text/javascript" src='tkbhp.js'></script>
</body>
</html>